.card{
  padding: 10px;
  width: 200px;
  border: 2px solid rgb(235, 83, 5);
  display: inline-block;
  margin: 10px;
  position: relative;
}
#dlt{
    position: absolute;
    top: 10px;
    right: 10px;
}
body {
  text-align: center;
  font-family: sans-serif;
}
.bg-orange{
  background-color: #f1600a;
}
.bg-orange .active>.nav-link{
  color: rgba(f,f,f,.9) !important;
}
.bg-orange .nav-link{
  color: rgba(f,f,f,.5) !important;
}
.box{
  border:2px solid gray
}
.fields{
  display: block;
}