
body {
  text-align: center;
  font-family: sans-serif;
}
.boxO{
  border:2px solid #f1600a;
}
.boxG{border:2px solid green;}
.boxO,.boxG{    
  width: 200px;
  margin: 20px; 
  color: white;}
.boxO li{background-color: #f1600a;}
.boxG li{background-color: green;}
.boxO li,.boxG li{
  width: 100px;
    margin: 20px auto;
    padding: 10px;
}