.flex{display:flex}
body {
  /* text-align: center; */
  font-family: sans-serif;
  padding: 20px;
}
img{
  width: 25%;
  display: block;
  margin: auto;
}
.flex>div{width:45%}
.orange{
  color: #f1600a;
}